{% load static %}
<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{% block title %} {% endblock %}</title>


    <!--STYLESHEET-->
    <!--=================================================-->

    <!--Open Sans Font [ OPTIONAL ]-->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>


    <!--Bootstrap Stylesheet [ REQUIRED ]-->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">


    <!--Nifty Stylesheet [ REQUIRED ]-->
    <link href="{% static 'css/nifty.min.css' %}" rel="stylesheet">


    <!--Nifty Premium Icon [ DEMONSTRATION ] -->
    <link href="{% static 'css/demo/nifty-demo-icons.min.css' %}" rel="stylesheet"> 


    <!--=================================================-->



    <!--Pace - Page Load Progress Par [OPTIONAL] -->
    <link href="{% static 'plugins/pace/pace.min.css' %}" rel="stylesheet">
    <script src="{% static 'plugins/pace/pace.min.js' %}"></script> 


    <!--Demo [ DEMONSTRATION ] -->
    <link href="{% static 'css/demo/nifty-demo.min.css' %}" rel="stylesheet"> 

    {% block css%}
    {% endblock %}



    <!--=================================================

    REQUIRED
    You must include this in your project.


    RECOMMENDED
    This category must be included but you may modify which plugins or components which should be included in your project.


    OPTIONAL
    Optional plugins. You may choose whether to include it in your project or not.


    DEMONSTRATION
    This is to be removed, used for demonstration purposes only. This category must not be included in your project.


    SAMPLE
    Some script samples which explain how to initialize plugins or components. This category should not be included in your project.


    Detailed information and more samples can be found in the document.

    =================================================-->

</head>

<!--TIPS-->
<!--You may remove all ID or Class names which contain "demo-", they are only used for demonstration. -->
<body>
    <div id="container" class="effect aside-float aside-bright mainnav-lg">

        <!--NAVBAR-->
        <!--===================================================-->
        <header id="navbar" style="position: fixed;">
            <div id="navbar-container" class="boxed">

                <!--Brand logo & name-->
                <!--================================-->
                <div class="navbar-header">
                    <a href="" class="navbar-brand">
                        <div class="brand-title">
                            <span class="brand-text">SKRIPSI</span>
                        </div>
                    </a>
                </div>
                <!--================================-->
                <!--End brand logo & name-->


                <!--Navbar Dropdown-->
                <!--================================-->
                <div class="navbar-content">
                    <ul class="nav navbar-top-links" style="float:left;">

                        <!--Navigation toogle button-->
                        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                        <li class="tgl-menu-btn">
                            <a class="mainnav-toggle" href="#">
                                <i class="demo-pli-list-view"></i>
                            </a>
                        </li>
                        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                        <!--End Navigation toogle button-->





                    </ul>

                </div>
                <!--================================-->
                <!--End Navbar Dropdown-->

            </div>
        </header>
        <!--===================================================-->
        <!--END NAVBAR-->

        <div class="boxed">

            <!--CONTENT CONTAINER-->
            <!--===================================================-->
            {% block content %}
            {% endblock %}
            <!--===================================================-->
            <!--END CONTENT CONTAINER-->



            <!--ASIDE-->
            <!--===================================================-->

            <!--===================================================-->
            <!--END ASIDE-->


            <!--MAIN NAVIGATION-->
            <!--===================================================-->
            <nav id="mainnav-container">
                <div id="mainnav">


                    <!--OPTIONAL : ADD YOUR LOGO TO THE NAVIGATION-->
                    <!--It will only appear on small screen devices.-->
                    <!--================================
                    <div class="mainnav-brand">
                        <a href="index.html" class="brand">
                            <img src="img/logo.png" alt="Nifty Logo" class="brand-icon">
                            <span class="brand-text">Nifty</span>
                        </a>
                        <a href="#" class="mainnav-toggle"><i class="pci-cross pci-circle icon-lg"></i></a>
                    </div>
                    -->



                    <!--Menu-->
                    <!--================================-->
                    <div id="mainnav-menu-wrap">
                        <div class="nano">
                            <div class="nano-content">

                                <!--Profile Widget-->
                                <!--================================-->
                                <div id="mainnav-profile" class="mainnav-profile">
                                    <div class="profile-wrap text-center">
                                        <div class="pad-btm">
                                            <img class="img-circle img-md" src="{% static 'img/profile-photos/12.jfif' %}" alt="Profile Picture">
                                        </div>
                                        <a href="#profile-nav" class="box-block" data-toggle="collapse" aria-expanded="false">
                                            <span class="pull-right dropdown-toggle">
                                                <i class="dropdown-caret"></i>
                                            </span>
                                            <p class="mnp-name">Muhammad Ulin Nuha</p>
                                            <span class="mnp-desc">4611416025</span>
                                        </a>
                                    </div>
                                    <div id="profile-nav" class="collapse list-group bg-trans">
                                        <!-- <a href="#" class="list-group-item">
                                            <i class="demo-pli-male icon-lg icon-fw"></i> View Profile
                                        </a>
                                        <a href="#" class="list-group-item">
                                            <i class="demo-pli-gear icon-lg icon-fw"></i> Settings
                                        </a>
                                        <a href="#" class="list-group-item">
                                            <i class="demo-pli-information icon-lg icon-fw"></i> Help
                                        </a> -->
                                        <a href="{% url 'logout' %}" class="list-group-item">
                                            <i class="demo-pli-unlock icon-lg icon-fw"></i> Logout
                                        </a>
                                    </div>
                                </div>




                                <ul id="mainnav-menu" class="list-group">

						            <!--Category name-->
						            <li class="list-header">Navigation</li>

						            <!--Menu list item-->
                        <li class="{% block dashboard %} {% endblock %}">
						                <a href="{% url 'administrator:dashboard' %}">
						                    <i class="demo-pli-home"></i>
                                <span class="menu-title">Dashboard</span></a>
						            </li>


						            <!--Menu list item-->
						            <li class="{% block dataset %} {% endblock %}">
						                <a href="{% url 'administrator:dataset' %}">
						                    <i class="demo-pli-folder-with-document"></i>
						                    <span class="menu-title">
												Dataset
											</span>
						                </a>
						            </li>
                                    <!--Menu list item-->

                                    <li class="{% block preproses %} {% endblock %}">
                                        <a href="{% url 'administrator:preproses' %}">
                                            <i class="demo-pli-file-search"></i>
                                            <span class="menu-title">
                                                Preproses Data
                                            </span>
                                        </a>
                                    </li>
                                     <!--Menu list item-->
                                   
                                   
                                    
                                    <!--Menu list item-->
                                    <li class="{% block NaiveBayes %} {% endblock %}">
                                        <a href="{% url 'administrator:NaiveBayes' %}">
                                            <i class="demo-psi-bar-chart"></i>
                                            <span class="menu-title">
                                                Klasifikasi Naive Bayes
                                            </span>
                                        </a>
                                    </li>
                                    <li class="{% block NaiveBayesAda %} {% endblock %}">
                                        <a href="{% url 'administrator:NaiveBayesAda' %}">
                                            <i class="demo-psi-bar-chart"></i>
                                            <span class="menu-title">
                                                Klasifikasi NB + AdaBoost
                                            </span>
                                        </a>
                                    </li>
                                    <!--Menu list item-->
                                   

                                        <li class="{% block InfoGainR %} {% endblock %}">
                                            <a href="{% url 'administrator:InfoGainR' %}">
                                                <i class="demo-pli-checked-user"></i>
                                                <span class="menu-title">
                                                    Information Gain Ratio
                                                </span>
                                            </a>
                                        </li>

                                        <li class="{% block Diskritisasi %} {% endblock %}">
                                            <a href="{% url 'administrator:Diskritisasi' %}">
                                                <i class="demo-pli-magnifi-glass"></i>
                                                <span class="menu-title">
                                                    Discretization
                                                </span>
                                            </a>
                                        </li>

                                        <li class="{% block NB_Custom %} {% endblock %}">
                                            <a href="{% url 'administrator:NB_Custom' %}">
                                                <i class="demo-pli-medal-2"></i>
                                                <span class="menu-title">
                                                    NB Custom Optimizer
                                                </span>
                                            </a>
                                        </li>

                                        <li class="{% block Rangkuman %} {% endblock %}">
                                            <a href="{% url 'administrator:Rangkuman' %}">
                                                <i class="demo-psi-pen-4"></i>
                                                <span class="menu-title">
                                                    Rangkuman
                                                </span>
                                            </a>
                                        </li>


                                    
                                    <!--Menu list item-->
                                    <li class="{% block tentang %} {% endblock %}">
                                        <a href="{% url 'administrator:tentang' %}">
                                            <i class="demo-pli-idea"></i>
                                            <span class="menu-title">
                                                About
                                            </span>
                                        </a>
                                    </li>






						                                         </ul>


                                <!--Widget-->
                                <!--================================-->

                                <!--================================-->
                                <!--End widget-->

                            </div>
                        </div>
                    </div>
                    <!--================================-->
                    <!--End menu-->

                </div>
            </nav>
            <!--===================================================-->
            <!--END MAIN NAVIGATION-->

        </div>



        <!-- FOOTER -->
        <!--===================================================-->
        <footer id="footer" style="position: fixed;">
   
            <p class="pad-lft">&#0169; 2022 Muhammad Ulin Nuha </p>

        </footer>
        <!--===================================================-->
        <!-- END FOOTER -->


        <!-- SCROLL PAGE BUTTON -->
        <!--===================================================-->
        <button class="scroll-top btn">
            <i class="pci-chevron chevron-up"></i>
        </button>
        <!--===================================================-->
    </div>
    <!--===================================================-->
    <!-- END OF CONTAINER -->





    <!--JAVASCRIPT-->
    <!--=================================================-->

    <!--jQuery [ REQUIRED ]-->
    <script src="{% static 'js/jquery.min.js' %}"></script>


    <!--BootstrapJS [ RECOMMENDED ]-->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>


    <!--NiftyJS [ RECOMMENDED ]-->
    <script src="{% static 'js/nifty.min.js' %}"></script>




    <!--=================================================-->

    <!--Demo script [ DEMONSTRATION ]
    <script src="{% static 'js/demo/nifty-demo.min.js' %}"></script> -->



    <!--Sparkline [ OPTIONAL ]-->
    <script src="{% static 'plugins/sparkline/jquery.sparkline.min.js' %}"></script>




    {% block js %}
    {% endblock %}




</body>
</html>
