{% extends "layouts/administrator.html" %}
{% load static %}

{% block dashboard %}
active-sub
{% endblock %}

{% block title %}
Dashboard | Klasifikasi Cronic Kidney Disease
{% endblock %}

{% block content %}
<div id="content-container">
    <div id="page-head">

<div class="pad-all text-center">
  <style type="text/css">
  #img-weli {
    text-align: center;
  }

  .img-weli {
    width: 80px;
    border-radius:10px;
  }
</style>
      <div id="img-weli"><img src="/assets/img/weli.png" alt="" title="" name="slide" class="img-weli"></div>
<h3>Peningkatan Akurasi Algoritma Naive Bayes Berbasis AdaBoost Untuk Klasifikasi Chronic Kidney Disease Dengan Menerapkan Discretization dan Information Gain Ratio</h3>

</div>
        </div>


    <!--Page content-->
    <!--===================================================-->
    <div id="page-content">

      <div id="page-content">
    <div class="col-md-11">
        <div class="panel">
            <div class="panel-body">
              <h4 class="panel-title">
                <i class="demo-pli-information"></i>
                    Petunjuk Penggunaan</h4>
                <div id="demo-gen-faq1" class="mar-ver collapse in">
                1. Siapkan dataset dengan format .csv yang terdiri dari 17 kolom dengan nama "Gender", "Nationality", "PlaceofBirth", "StageID", "GradeID", "SectionID", "Topic", 
                "Semester", "Relation", "Raisedhand", "VisitedResources", "AnnouncementsView", "Discussion", "ParentAnsweringSurvey", "ParentSchoolSatisfaction",
                "StudentAbsenceDays", dan "Class", atau dapat di download pada link berikut <a href=""> ini </a></br>
                2. Pilih menu Dataset untuk import data review yang akan digunakan atau untuk mengganti dataset baru</br>
                3. Pilih menu EDA untuk mengetahui isi data dataset secara visual, hal ini akan mempermudah dalam menemukan pola yang terkandung dalam dataset
                </br>
                4. Lakukan <em>Encoding Data</em> dengan memilih tombol "<em>Encoding Data</em>" pada halaman EDA atau pada menu bar disamping</br>
                5. Lakukan pengujian klasifikasi Naive Bayes menu "Klasifikasi Naive Bayes"</br>
                6. Hasil akurasi & confusion matrix akan ditampilkan untuk algoritma Naive Bayes</br>
                7. Lakukan pengujian klasifikasi dengan algoritma Naive Bayes dengan Algoritma Genetika pada menu "Klasifikasi NB + Al Gen"</br>
                8. Masukkan nilai jumlah fitur, jumlah populasi, crossover, mutasi, jumlah generasi, dan jumlah generasi yang tidak berubah kemudian klik "Process"</br>
                9. Hasil akurasi, confusion matrix, dan fitur yang terpilih akan ditampilkan</br>
            </div>
            </div>
          </div>
        </div>
      </div>
  </div>
    <!--===================================================-->
    <!--End page content-->

</div>
{% endblock %}
