{% extends "layouts/administrator.html" %}
{% load static %}

{% block tentang %}
active-sub
{% endblock %}

{% block title %}
Tentang | Klasifikasi Chronic Kidney Disease
{% endblock %}

{% block content %}
<div id="content-container">
  <div id="page-head">

<div class="pad-all text-center">
  <style type="text/css">
#img-weli {
  text-align: center;
}

.img-weli {
  width: 80px;
  border-radius:10px;
}
</style>
    <div id="img-weli"><img src="/assets/img/weli.png" alt="" title="" name="slide" class="img-weli"></div>
<h1>Profil Penulis</h1>
<h2>Muhammad Ulin Nuha</h2>
<h3>4611416025</h3><br>
<h4>Teknik Informatika - Ilmu Komputer</h4>
<h4>Fakultas Matematika dan Ilmu Pengetahuan Alam</h4>

</div>
      </div>
      </div>

<div id="content-container">

    <!--Page content-->
    <!--===================================================-->
    
<div id="page-content">
    <div class="col-md-12">
        <div class="panel">
            <div class="panel-body">
              
                <div id="demo-gen-faq1" class="mar-ver collapse in">
               

                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--===================================================-->
    <!--End page content-->

{% endblock %}
